<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h1 class="page-header">Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="forms.view.html">Forms</a></li>
                <li role="presentation" class="active"><a href="fields.view.html">Fields</a></li>
            </ul>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <div class="makeRoom">
                            <label class="labelBlock">First Name:</label>
                            <input type="text" class="form-controlEdit form-control" placeholder="First Name">
                            <a href="#" class="btn btn-warning">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </a>
                            <a href="#" class="btn btn-success">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </a>
                            <a href="#" class="btn btn-danger">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </a>
                            <a href="#" class="btn btn-primary">
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </a>
                        </div>
                    </tr>
                    <tr>
                        <div class="makeRoom">
                            <label class="labelBlock">Last Name:</label>
                            <input type="text" class="form-controlEdit form-control" placeholder="Last Name">
                        <!--<div class="rightJustify">-->
                            <a href="#" class="btn btn-warning">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </a>
                            <a href="#" class="btn btn-success">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </a>
                            <a href="#" class="btn btn-danger">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </a>
                            <a href="#" class="btn btn-primary">
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </a>
                        </div>
                    </tr>
                    <tr>
                        <div class="makeRoom">
                            <label class="labelBlock">Date of Birth:</label>
                            <input class="form-controlEdit form-control" type="date" name="Date of Birth">
                            <a href="#" class="btn btn-warning">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </a>
                            <a href="#" class="btn btn-success">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </a>
                            <a href="#" class="btn btn-danger">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </a>
                            <a href="#" class="btn btn-primary">
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                            </a>
                        </div>
                    </tr>
                    <tr>
                        <div class="dropdown makeRoom">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Gender:
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Female</a></li>
                                <li><a href="#">Male</a></li>
                                <li><a href="#">N/A</a></li>
                                <!--<li role="separator" class="divider"></li>-->
                                <!--<li><a href="#">Separated link</a></li>-->
                            <!--</ul>-->
                        </div>
                    </tr>
                    <tr>
                        <div class="makeRoom">
                            <label class="labelBlock">Roles:</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Admin
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Student
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> User
                            </label>
                        </div>
                    </tr>
                    <tr>
                        <div class="makeRoom">
                            <label class="labelBlock">License Agreement:</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Admin
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Student
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> User
                            </label>
                        </div>
                    </tr>
                </table>
                <hr class="thicker">
                <div class="makeRoom">
                    <label class="labelBlock">Add New Field:</label>
                    <input type="text" class="form-controlEdit form-control" placeholder="field name">
                    <a href="#" class="btn btn-success">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>