<nav class="navbar navbar-inverse navbar-fixed-top" ng-contoller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="size2X navbar-brand" href="../home/home.view.html">Form Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Username</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>
