/*
 * Amanda Fode
 * Personalized CSS
 * HW1: User Interface Development
 */

.leftJustify {
    vertical-align: baseline;
    display: block;
    text-align: justify;
    padding-right: 1in;
}

.size2X {
    font-family: 'monospace', 'cursive','Raleway', 'PT Serif Caption';
    font-size: 19pt;
}
    
.navBar-condense {
    max-width: 500px;
    margin: auto;
}

.makeRoom {
    margin-top: 10px;
}

.labelBlock {
    display: block;
}

.thicker {
    border-width: medium;
    border-color: black;
}

.form-controlEdit {
    width: 50%;
    display: inline;
}