.assignment1 {
    font-size: 16px;
    display: table;
    margin: auto;
}

.jumbotronEdit {
    text-align: center;
    color: darkcyan;
    font-family: monospace;
    font-size: 24px;
}

.initialFont {
    font-family: initial;
    font-size: 18px;
}