.assignment1 {
    display: table;
    margin: auto;
    line-height: 75%;
}

.jumbotronEdit {
    text-align: center;
    color: darkcyan;
    font-family: monospace;
    font-size: 24px;
}

.initialFont {
    font-family: initial;
    font-size: 18px;
    line-height: 230%;
    margin-top: 10%;
}

.thicker {
    border-color: darkcyan;
    border-width: thick;
}