/*
 * Amanda Fode
 * Personalized CSS
 * HW1: User Interface Development
 */

.welcomeText {
    vertical-align: baseline;
    display: block;
    text-align: justify;
    padding-right: 3in;
}

.size2X {
    font-family: 'cursive','Raleway', 'PT Serif Caption';
    font-size: 22pt;
}

